

<footer class="footer-distributed" >
 
      <div class="footer-left">
          <img src="/image/logo.png" />
        <h3>Dr<span>-Meet</span></h3>
 
        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Servises</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
        </p>
 
        <p class="footer-company-name">© 2019 School Of Engineering.</p>
      </div>
 
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
            <p><span>A4 Near Opal Homes,
             Kalamassery,CUSAT</span>
            Ernakulam -Kochi-682022</p>
        </div>
 
        <div>
          <i class="fa fa-phone"></i>
          <p>+91 9113103732</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@eduonix.com">Drmeet@gmail.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the Website</span>
      
          Book an appointment in just a heart beat!.</p>
        </div>
</footer>